html {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align: center;
}
img {
  border-radius: 50px 80px;
}

.emailContact {
  color:grey;
}

.DOB {
  padding-top: 1rem;
}

.info {
  padding-bottom: 3rem;
}

h2 {
  margin: .5rem;
}

p {
  margin: .5rem;
}

#customers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  
}
.customer {
  width: 300px
}
h1 {
  width: 100%;
  padding-left: 2rem;
  text-align: left;

}